@media (max-width: 1024px) {
    /* 1 section */
    .section01-container {
        flex-direction: column-reverse;
    }
    .right-side-block {
        width: 90%;
        text-align: center;
        margin: 40px auto 0 auto;
        /* margin-top: 40px; */
    }
    .section01-container {
        padding: 0 20px;
    }
    .yoga-styles-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  
        justify-content: center;
    }
    .section02-title p {
        width: 90%;
    }
    .yoga-session-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    
    }
    .section-container {
        flex-direction: column;
    }
    .right-side-div {
        margin-bottom: 40px;
    }
    .community-image {
        height: 500px;
    }
    .line {
        display: none;
    }
    .section04-container {
        flex-direction: column;
    }
    .section04-block {
        margin-bottom: 60px;
    }
    .blog-articles {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    }
    .aboutus-block {
        flex-direction: column;
    
    } 
    .aboutus-right-title {
        text-align: center;
    }

    





    /* 1 section */
    
}


@media (max-width: 768px) {
    /* .section01-container {
        padding: 0 20px;
    } */
    .left-side-block {
        width: 98%;
    }
    .fa-bars {
        display: inline-block;
        margin-left: 30px;
    }
    .left-side-block {
        margin: 0 auto;
    }
    .paragraph {
        text-align: center;
        width: 80%;
    }

    .community-image {
        height: 400px;
    }
    
    .blog-articles {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    }
    .navigation {
        display: none;
    }
    .navigation.navActive {
        display: block;
    }
    .header-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .ul-li-item {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 30px;
    }
    .login-button {
        margin-left: 5px;
        
    }
    .login-button:hover {
        border-bottom: none;
    }

}


@media (max-width: 480px) {
    .right-side-block h2 {
        font-size: 32px;
    }
    .right-side-block h1 {
        font-size: 40px;
    }
    .fa-bars {
        margin-left: 12px;
    }
    .section02-title h2 {
        font-size: 32px;
    }
    .left-side-div h2 {
        font-size: 35px;
    }
    .community-image {
        height: 300px;
    }
    .section04-block h2 {
        font-size: 32px;
    }
    .blog-articles {
        padding: 0;
    
    }
    .article {
        width: 310px;

    }
    .blog-container {
        padding-bottom: 340px;
    }
    


    
}

@media (max-width: 375px) {
    .community-image {
        height: 200px;
    }
    .blog-articles {
        gap: 130px;
    }
    .article {
        width: 260px;

    }

    
  

    
}