@media (max-width: 1024px) {
    .section01-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .right-side-block {
        width: 90%;
        text-align: center;
        margin: 2.5rem auto 0 auto;
    }
    .section01-container {
        padding: 0 1.25rem;
    }
    .yoga-styles-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));  
        -webkit-box-pack: center;  
            -ms-flex-pack: center;  
                justify-content: center;
    }
    .section02-title p {
        width: 90%;
    }
    .yoga-session-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    }
    .section-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .right-side-div {
        margin-bottom: 2.5rem;
    }
    .community-image {
        height: 31.25rem;
    }
    .line {
        display: none;
    }
    .section04-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .section04-block {
        margin-bottom: 3.75rem;
    }
    .blog-articles {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    }
    .aboutus-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    } 
    .aboutus-right-title {
        text-align: center;
        margin: 0.938rem 0 0.5rem 0;
    }
    .footer-left-side {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 2.188rem;
    }
    .aboutus-background-image {
        height: 34.375rem;
    } 
}


@media (max-width: 768px) {
    .left-side-block {
        width: 98%;
    }
    .fa-bars {
        display: inline-block;
        margin-left: 1.875rem;
    }
    .left-side-block {
        margin: 0 auto;
    }
    .paragraph {
        text-align: center;
        width: 80%;
    }
    .community-image {
        height: 25rem;
    }
    .blog-articles {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
    }
    .navigation {
        display: none;
    }
    .navigation.navActive {
        display: block;
    }
    .header-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .ul-li-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-left: 1.875rem;
    }
    .login-button {
        margin-left: 0.313rem; 
    }
    .login-button:hover {
        border-bottom: none;
    }
    .footer-left-side {
        padding: 0 5rem;
    }
    .aboutus-background-image {
        height: 28.125rem;
    }
}

@media (max-width: 480px) {
    .right-side-block h2 {
        font-size: 2rem;
    }
    .right-side-block h1 {
        font-size: 2.5rem;
    }
    .fa-bars {
        margin-left: 0.75rem;
    }
    .section02-title h2 {
        font-size: 2rem;
    }
    .left-side-div h2 {
        font-size: 2.188rem;
    }
    .community-image {
        height: 18.75rem;
    }
    .section04-block h2 {
        font-size: 2rem;
    }
    .blog-articles {
        padding: 0;
    }
    .article {
        width: 19.375rem;
    }
    .blog-container {
        padding-bottom: 21.25rem;
    }
    .form-footer-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .subscribe-button {
        margin: 0.625rem 0 0 0;
    }
    .copyright {
        padding: 0 1.563rem;
    }
    .divider {
        height: 3.75rem;
    }
    .aboutus-background-image {
        height: 18.75rem;
    }
    .aboutus-text h2 {
        font-size: 1.375rem;
    }
    .mind-blog {
        background-position: 80% 10%;
    }
}

@media (max-width: 375px) {
    .community-image {
        height: 12.5rem;
    }
    .blog-articles {
        gap: 8.125rem;
    }
    .article {
        width: 16.25rem;
    }
    .aboutus-background-image {
        height: 13.75rem;
    }
    .aboutus-title h1 {
        font-size: 1.625rem;
    }
    .aboutus-title p {
        font-size: 1.063rem;
    }
}