.poppins {
    font-family: 'Poppins';
    font-style: normal;
}
.roboto {
    font-family: 'Roboto';
    font-style: normal;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body-bg {
    background-image: linear-gradient(0deg, rgb(233, 231, 231), #FFFFFF);

}
/* HEADER */
.header {
    padding-bottom: 145px;
}
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 10;
    position: relative;
    position: fixed;
}

.yoga-logo {
    width: 6.875rem;
}
.ul-li-item,
.a-item {
    width: 34.375rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #556987;
    cursor: pointer;
    
}
.home:hover,
.about:hover,
.blog:hover,
.classes:hover,
.community:hover {
    border-bottom: 0.125rem solid #556987;
}
.login-button {
    cursor: pointer;
    border: none;
    background: #FFFFFF;
    color: #556987;
    width: 5.375rem;
    height: 2.25rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}
.login-button:hover {
    border-bottom: 0.125rem solid #556987;
}
.header-elements {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    top: 25px;
    right: 40px;
    cursor: pointer;
}



/* HEADER */

/* FIRST-SECTION */
.section01-container {
   max-width: 90rem;
   width: 100%;
   margin: 0 auto;
   padding: 0 3.125rem;
}

.right-side-block {
    width: 550px;
}
.right-side-block h2, h1 {
    color: #2A3342;
    font-weight: 700;
    font-size: 40px;
    line-height: 62px;
    letter-spacing: -0.02em;
}
.right-side-block h1 {
    font-size: 60px;
    margin: 10px 0 27px 0;
}
.right-side-block p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #556987;
}



.left-side-block {
   width: 700px;
   border-radius: 15px;
   cursor: pointer;

}
.left-side-block:hover {
    box-shadow: 0 0 6px 1px #ccc;

}
.hand-stand-image {
    width: 100%;
    border-radius: 15px;
    display: block;
}
.fa-bars {
    font-size: 22px;
    color: #556987;
    display: none;
}
.sign-up-button {
    width: 260px;
    height: 50px;
    border: 0.125rem solid #2A3342;

    border-radius: 6px;
    cursor: pointer;
    transition: all 0.25s;
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2A3342;
    background-color: #FFFFFF;
}


.sign-up-button:hover {
    color: #FFFFFF;
    background-color: #2A3342;

}

.sign-up-button:active {
    opacity: 0.8;
}



/* FIRST-SECTION */

/* SECOND SECTION */
.section02-container {
    max-width: 1440px;
    width: 100%;
    margin: 130px auto;
}
.section02-title {
    text-align: center;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}
.section02-title h2 {
    color: #2A3342;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    letter-spacing: 4px;
}
.section02-title p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #556987;
    margin: 15px auto 65px auto;

}
.yoga-styles-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    align-items: center;
    row-gap: 100px;
}
.yoga-style {
    width: 195px;
    height: 275px;
    padding-top: 15px;
    padding-left: 25px;
    cursor: pointer;
    transition: all 0.30s;
    border-radius: 8px;
}
.yoga-style:nth-child(1) {
    background-image: url(../images/meditation.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;

}
.yoga-style:nth-child(2) {
    background-image: url(../images/ashtanga-yoga.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

}
.yoga-style:nth-child(3) {
    background-image: url(../images/hatha.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.yoga-style:nth-child(4) {
    background-image: url(../images/yin.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

}
.yoga-style:nth-child(5) {
    background-image: url(../images/vinyasa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

}
.yoga-style:nth-child(6) {
    background-image: url(../images/prenatal.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.yoga-style:nth-child(7) {
    background-image: url(../images/partner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.yoga-style:nth-child(8) {
    background-image: url(../images/restorative.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.yoga-style:hover {
    transform: scale(1.3); 
}
.yoga-style h6 {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}


/* SECOND SECTION */


/* 3 SECTION */
.section-container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    margin: 0 auto;
}

.right-side-div {
    max-width: 700px;
    width: 100%;
}
.low-lunge-pose {
    width: 100%;
    border-radius: 10px;
    /* height: 500px;
    object-fit: cover; */
}
.left-side-div {
    max-width: 610px;
    width: 100%;
    text-align: center;
}
.left-side-div h2 {
    color: #2A3342;
    font-weight: 700;
    font-size: 45px;
    line-height: 62px;

}
.left-side-div p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #556987;
    margin: 5px 0 30px 0;
}
.explore-button {
    width: 240px;
    height: 50px;
    border: 0.125rem solid #2A3342;
    color: #2A3342;
    background-color: #efefef;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.25s;

}
.explore-button:hover {
    color: #ffffff;
    background-color: #2A3342;

}
.explore-button:active {
    opacity: 0.8;
}




















/* 3 SECTION */


/* THIRD SECTION */


/* CLASS */
.yoga-title {
    max-width: 950px;
    width: 100%;
    text-align: center;
    margin: 0 auto 45px auto;
    padding: 0 15px;
}
.yoga-title h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #424e66;
    
    
}
.yoga-session-wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 80px;
    padding: 0 40px 55px 40px;
}
.yoga-session {
    /* max-width: 400px; */
    width: 100%;
    transition: 0.40s;
    cursor: pointer;
    border-radius: 10px;
}
.yoga-session:hover {
    box-shadow: 0 0 30px 2px #ccc;
 }    

.beginner-yoga {
    background-image: url(../images/beginner-yoga.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 210px 0 0 15px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}
.meditation-rest {
    background-image: url(../images/meditation-rest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 210px 0 0 15px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}

.morning-yoga {
    background-image: url(../images/morning-yoga.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 210px 0 0 15px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    
}
.vinyasa-flow {
    border-radius: 10px;
    background-image: url(../images/vinyasa-flow.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 210px 0 0 15px;
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}
.stretch {
    background-image: url(../images/stretch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    border-radius: 10px;
    padding: 210px 0 0 15px;
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin: 0 auto;

}
.ashtanga-yoga {
    border-radius: 10px;
    padding: 210px 0 0 15px;
    background-image: url(../images/ashtanga.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin: 0 auto;

}
.mind-body {
    border-radius: 10px;
    padding: 210px 0 0 15px;
    background-image: url(../images/mind-body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}
.restorative {
    border-radius: 10px;
    padding: 210px 0 0 15px;
    background-image: url(../images/restorative-yoga.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}
.better-sleep {
    border-radius: 10px;
    padding: 210px 0 0 15px;
    background-image: url(../images/better-sleep.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}
.yin-ritual {
    border-radius: 10px;
    padding: 210px 0 0 15px;
    background-image: url(../images/yin-ritual.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 17%;
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}
.flexibility {
    border-radius: 10px;
    padding: 210px 0 0 15px;
    background-image: url(../images/flexibility.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}
.release {
    border-radius: 10px;
    padding: 210px 0 0 15px;
    background-image: url(../images/release.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 400px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
}



.duration {
    width: 60px;
    height: 25px;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    opacity: 0.7;
    
}
.block-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #2A3342;
    text-align: center;
    margin: 15px 0 15px 0;
}
.paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #556987;
    width: 95%;
    margin: 0 auto;

}
.section03-text {
    padding-bottom: 15px;
}







/* THIRD SECTION */

/* FOURTH SECTION */
.section04-container {
    max-width: 1440px;
    width: 100%;
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
}


.section04-block {
    text-align: center;
    max-width: 550px;
    width: 100%;
}
.section04-block h2 {
    color: #293242;
    font-weight: 700;
    font-size: 42px;
    line-height: 62px;
}
.section04-block p,
.price {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #3c4d66;
    initial-letter: 3 0;
    margin: 0 auto;
}
.line {
    height: 220px;
    border: 1px solid #465a79;
}


/* FOURTH SECTION */

/* COMMUNITY */
.background {
    background-image: linear-gradient(0deg, rgb(187, 187, 187), rgb(255, 255, 255));


}
.community-container {
    padding: 0 20px;
}
.community-image {
    max-width: 1100px;
    width: 100%;
    height: 600px;
    background-image: url(../images/group-of-people.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    border-radius: 20px;
}

.form-wrapper {
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
}
.form-element {
   display: flex;
   flex-direction: column;
    max-width: 340px;
    width: 100%;
    outline: none;
}
.label-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #424e66;
}
.input-item,
.select-item {
    height: 40px;
    border: none;
    border-radius: 4px;
    outline: none;
    color: #424e66;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #F2F2F2;
}

.community-text {
    max-width: 600px;
    width: 100%;
    margin: 25px auto 0 auto;
    text-align: center;
}
.community-text h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #343e54;
}
.signup-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #343e54;
    max-width: 340px;
    width: 100%;
    margin: 8px auto 17px auto;
}
.apple-div,
.fb-div {
    max-width: 340px;
    width: 100%;
    background-color: #F2F2F2;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #293141;
    padding: 6px 0;
    border-radius: 4px;
    cursor: pointer;
}
.fb-div {
    margin-top: 15px;
}
.apple-div:hover,
.fb-div:hover {
    background-color: #e6e6e6;
    
}
.fa-apple,
.fa-facebook {
    margin-right: 6px;
    font-size: 18px;
}
.account-text {
    overflow: hidden;
  text-align: center;
  font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #343e54;
    margin: 18px 0;

}
.account-text:before,
.account-text:after {
    background-color: #293141;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 13.2%;
}
.account-text:before {
    right: 10px;
    margin-left: -50%;
  }
  
  .account-text:after {
    left: 10px;
    margin-right: -50%;
  }
  .submit-button {
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    color: #424e66;
    background-color: #F2F2F2;
    max-width: 340px;
    width: 100%;
    height: 41px;
    border: none;
    border-radius: 4px;
    margin-top: 12px;
    cursor: pointer;

  }
  .submit-button:hover {
    background-color: #e6e6e6;
  }
/* COMMUNITY */


/* BLOG */

.blog-title {
    text-align: center;
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.blog-title h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #424e66;

}
.blog-title p {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #424e66;
    margin: 15px 0 42px 0;

}

.blog-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 240px;

}

.blog-articles {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 70px;
    padding: 0 60px;

}
.article-bg {
    max-width: 370px;
    width: 100%;
    height: 300px;
    border-radius: 7px;
    background-image: url(../images/blog0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    /* background-position: 50% 80%; */
}
.hatha-blog {
    background-image: url(../images/blog1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.diet-blog {
    background-image: url(../images/blog7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 30%;

}
.ashtanga-blog {
    background-image: url(../images/blog2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

}
.kundalini-blog {
    background-image: url(../images/blog3.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.yin-blog {
    background-image: url(../images/blog4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 25%;

}
.meditation-blog {
    background-image: url(../images/blog5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;

}
.mind-blog {
    background-image: url(../images/blog6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 10%;


}
.playlist-blog {
    background-image: url(../images/blog8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 10%;

}

.article-p {
    display: none;
}
.article:hover .article-p {
    display: block;
    

}
.article:hover {
    transform: scale(1.1);
    z-index: 1; 
    border-radius: 10px 10px 0 0;
}
.article {
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.20s;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;

    
}
.article-title h2 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #2e374b;
    margin: 9px 0 12px 0;
}
.article-p {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #343e54;
    position: absolute;
    background-color: #FFFFFF;
    padding: 0 15px 10px 15px;
    border-radius: 0px 0px 10px 10px;
}


/* BLOG */


/* About Us */

.aboutus-title {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 110px;
}
.aboutus-title h1 {
    color: #2A3342;
    font-weight: 700;
    font-size: 30px;
    line-height: 58px;
    margin-bottom: 5px;

}
.aboutus-title p {
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    color: #3c4d66;

}


.aboutus-wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;

}
.aboutus-block {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutus-left-side {
    max-width: 300px;
    width: 100%;
    height: 500px;
    background-image: url(../images/IMG-20221201-WA0003.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}
.info {
    text-align: center;
    margin-top: 418px;
    color: #FFFFFF;
    background-color: #2A3342;
    opacity: 0.8;
}
.info h6 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 7px;
}
.info p {
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
}

.aboutus-right-side {
    max-width: 650px;
    width: 100%;
  
}
.aboutus-right-title h2 {
    color: #2A3342;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    margin-bottom: 5px;
}
.aboutus-right-side p {
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    color: #3c4d66;

}

.info-details {
    margin-top: 12px;
    max-width: 290px;
    width: 100%;
}
.info-details span {
    font-size: 16px;
    line-height: 30px;
    color: #3c4d66;

}
.fa-location-dot {
    margin-right: 5px;
    color: #2A3342;
}
.icon {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

}
.spotify-icon,
.insta-icon {
    color: #2A3342;
    font-size: 19px;
}







/* About Us */




